::ng-deep .mat-dialog-container {
    height: auto !important;
    width: auto !important;
    background: none !important;
    box-shadow: none !important;
    margin: auto auto !important;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
}