.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .vehicle {
  
    position:absolute ;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
    
    }