.container{
    margin: 0px auto;
    font-size: 20px;
    /* background-color: brown; */
}

  h1{
    float: left;
    /* margin-bottom: 3%; */
    margin-right: 10px;
    color: black;
    font-size: 3em;
    /* background: red; */
    /* text-shadow: 1px 1px 5px black; */
  }

  .mat-icon{
    margin-right: 2%;
  }

  .mat-mini-fab{
    margin: 1% 1%;
  }

.addButton{
  position: absolute;
  background: black;
  display: inline-block;
  right: 5px;
}

.topic{
  padding: 0px;
  width: 100%;

}

h2{
  font-family: Catamaran;
  font-size: 35px;
  margin: 5px;
}

#searchInventory {
  background-image: url('/assets/img/ico/search.png');
  background-position: 10px 12px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: none;
  margin-left: 7px;
}

#searchInventory:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 10px;
}

#inventoryTable {
  position: relative;
  border-collapse: collapse;
  background: rgba(245, 245, 245, 0.5);
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  font-size: 20px;
  border-radius: 10px;
  font-family: catamaran;
  margin: 0px auto;
}

#inventoryTable th, #inventoryTable td {
  text-align: left;
  padding: 12px;
  
}

#inventoryTable {
  text-align: end;
  /* background: red; */
  /* float: right; */
  /* margin-top: 15px; */
}

#inventoryTable tr {
  border-bottom: 1px solid #ddd;
}


#inventoryTable tr:hover{
  background: whitesmoke;
  cursor: pointer;
}

#inventoryTable tr.header, tr.header:hover{
  background-color: rgba(61, 12, 238, 0.525);
  cursor: default;
}

#inventoryTable tr.classToApply{
  background-color: rgb(37,122,253);;
  color: white;

}

.tableRoww{
  background-color: aqua;
}

th{
  color: white;
  font-weight: 700;
}

tbody::-webkit-scrollbar {
  display: none;
}

tbody {
  display: block;
  max-height: 43vh;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
