<style>
.container{
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  /* position: relative; */

  margin: 1% auto;
  margin-left: 1%;
  top: 12%;
  width:98%;
  height: 100vh;
  border-radius: 25px;
  padding-top: 0%;
  color: white;
  /* padding-bottom: 6%; */
}

.menu{
    margin-top: 9%;
    margin-left: 45%;
    padding: 1%;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 500px;
    background:rgba(92, 56, 255, 0.555);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px); */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#image{
    position: absolute;
    margin-left: 11%;
    /* z-index: 1; */
}


input{
    width: 60%;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.465)
}

input:focus{
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.466);
    opacity: 10;

}

button, a{
    margin: auto 5px;
    margin-top: 5%;
    width: 26%;
    background: rgb(3, 28, 255);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: catamaran;
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

a{
    background: white;
    color: black;
}

button:hover, a:hover{
    background: black;
    color: white;
    transition: 0.3s;
}



</style>

<div class="container">
    <img src="assets/img/ico/forgotpass.png" id='image'>
    <div class="menu">
        <h3 class="card-header">Forgot your Password?</h3>
        <div class="card-body">
            <p> Enter your email address and we'll send you a link to reset your password. </p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="email" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Submit
                    </button>
                    <a routerLink="../login" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>    