<div class="container"></div>
    <img src="assets/img/pic/loginImage.png" id='loginImage'>
    <div class = 'loginMenu'>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <img src="assets/img/logo/autodoc.png" id='logo'>
            <br>
            <h1>Welcome to Autodoc!</h1> 
            <input type="text" id="username" formControlName="email" required placeholder="email">
            <br>
            <input type="password" id="password" formControlName="password" required placeholder="password" style="margin-bottom: 20px;">
            <br>
            <a routerLink="/account/register">You are new! Sign up for free!!</a>
        </div>
        <div class="buttons">
            <button mat-button >Login</button>
            <a style="padding-top: 20px;" routerLink="/account/forgot-password">Forgot Password?</a>
        </div>
    </form>
    </div>
