<div class = "container">
    <h1>Manage Bookings</h1>

    <div class = "date">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>  
      

    <div class= "grid">
        <mat-grid-list cols="10" rowHeight="50:25" [gutterSize]="'15px'">
            <mat-grid-tile colspan="1" id = "bay">Bay 1</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">8am-9am</mat-grid-tile>
            <mat-grid-tile colspan="4" id = "time" style="background:rgb(241, 83, 130)">9am-1pm</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time" style="background:rgb(246, 243, 64)">1pm-3pm</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">3pm-4pm</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">4pm-5pm</mat-grid-tile>

            <mat-grid-tile colspan="1" id = "bay">Bay 2</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time" style="background:rgb(246, 243, 64)">8am-10am</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time"  style="background:rgb(241, 83, 130)">10am-12pm</mat-grid-tile>
            <mat-grid-tile colspan="4" id = "time"  style="background:rgb(246, 243, 64)">12pm-4pm</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">4pm-5pm</mat-grid-tile>
            
            <mat-grid-tile colspan="1" id = "bay">Bay 3</mat-grid-tile>
            <mat-grid-tile colspan="3" id = "time" style="background:rgb(246, 243, 64)">8am-11am</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">11am-12pm</mat-grid-tile>
            <mat-grid-tile colspan="3" id = "time" style="background:rgb(246, 243, 64)">12pm-3pm</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time"style="background:rgb(241, 83, 130)">3pm-5pm</mat-grid-tile>

            <mat-grid-tile colspan="1" id = "bay">Bay 4</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">8am-9am</mat-grid-tile>
            <mat-grid-tile colspan="4" id = "time" style="background:rgb(246, 243, 64)">9am-1pm</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time" style="background:rgb(241, 83, 130)">1pm-3pm</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">3pm-4pm</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">4pm-5pm</mat-grid-tile>

            <mat-grid-tile colspan="1" id = "bay">Bay 5</mat-grid-tile>
            <mat-grid-tile colspan="3" id = "time" style="background:rgb(241, 83, 130)">8am-11am</mat-grid-tile>
            <mat-grid-tile colspan="1" id = "time">11am-12pm</mat-grid-tile>
            <mat-grid-tile colspan="3" id = "time" style="background:rgb(246, 243, 64)">12pm-3pm</mat-grid-tile>
            <mat-grid-tile colspan="2" id = "time" style="background:rgb(246, 243, 64)">3pm-5pm</mat-grid-tile>
            
            
            
        </mat-grid-list>
    </div>
      
</div>
